#game-time{
    position: absolute;
    width: 100%;
    top: 2%;
    bottom: 3%;
    text-align: center;
    justify-content: center; 
    font-size: 25px;
    font-weight: 800;
  }

#timerTitle, #sessionTitle{
    color: #3f3e42f1
}

#timerTime, #sessionId{
    color: #a33c22f1
}